{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/pink-lay.myshopify.com/products/configure/95022/edit
{% endcomment %}
{% if product.metafields.custom_fields["wash_care"] != blank %}
  <div class="custom-field custom-field__wash-care custom-field__type--text">
    <h3 class="custom-field--title">Wash Care</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["wash_care"] }}
    </div>
  </div>
{% endif %}