{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/pink-lay.myshopify.com/products/configure/205312/edit
{% endcomment %}
{% if product.metafields.custom_fields["photo_video_position"] != blank %}
  <div class="custom-field custom-field__photo-video-position custom-field__type--number">
    <h3 class="custom-field--title">photo video position</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["photo_video_position"] }}
    </div>
  </div>
{% endif %}