{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/pink-lay.myshopify.com/products/configure/130627/edit
{% endcomment %}
{% if product.metafields.custom_fields["you_like_product"] != blank %}
  <div class="custom-field custom-field__you-like-product custom-field__type--text">
    <h3 class="custom-field--title">you like product</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["you_like_product"] }}
    </div>
  </div>
{% endif %}