{% comment %}

  MailChimp is the go-to newsletter service for Shopify.
  Use the link below to find your MailChimp "form action"
  and insert it in your site settings.

  MailChimp newsletter integration and requirement:
   - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action

{% endcomment %}
<div id="desktopnewsmsg" >
<form id="desktopnewsletter" action="{{ settings.mailing_list_form_action }}" method="get" name="mc-embedded-subscribe-form" target="_blank" class="input-group" style="margin-bottom: 6px;">
  <input type="email" value="" {% if settings.enable_multilang %}data-translate="general.newsletter_form.newsletter_text" translate-item="placeholder"{%endif%}  placeholder="{{ 'general.newsletter_form.newsletter_text' | t }}" name="EMAIL" class="input-group-field form-control" aria-label="Email Address" style="border: 1px solid #36454f !important;">
  <span class="input-group-btn">
    
    <input type="submit" class="btn" value="Subscribe" name="subscribe" {% if settings.enable_multilang %}data-translate="general.newsletter_form.submit"{% endif %}>
  </span>
</form>
</div>
