<!-- DO NOT REMOVE THE FOLLOWING COMMENT -->
<!-- (c) Copyright 2014 Caroline Hill. All Rights Reserved. Contact Mlle Caroline Schnapp at mllegeorgesand@gmail.com -->
<!-- DO NOT REMOVE THE ABOVE COMMENT -->

{% if linklists.pinklay-cotton-shopping-bag.links.size > 0 and linklists.pinklay-cotton-shopping-bag.links.first.type == 'product_link' %}
<style>
  @media (min-width:768px) {    
  div#is-a-gift {
     margin: 30px 0;
  }
  }
  @media (max-width:767px) {    
  div#is-a-gift {
     margin: 15px 0;
  }
  }
</style>
  <div id="is-a-gift" style="clear: left; " class="clearfix rte">
    <p>
      <input type="hidden" name="attributes[pinklay-cotton-shopping-bag]" value="" />
      <input id="pinklay-cotton-shopping-bag" type="checkbox" name="attributes[pinklay-cotton-shopping-bag]" value="yes" {% if cart.attributes.pinklay-cotton-shopping-bag %} checked="checked"{% endif %} style="float: none" />
      <label for="pinklay-cotton-shopping-bag" style="display:inline; padding-left: 5px; float: none;">
     Add a Pinklay cotton shopping bag for {{ linklists.pinklay-cotton-shopping-bag.links.first.object.price | money }} 
      </label>
    </p>
    
  </div>

{% assign id = linklists.pinklay-cotton-shopping-bag.links.first.object.variants.first.id %}

{% assign gift_wraps_in_cart = 0 %}
{% for item in cart.items %}
  {% if item.id == id %}
    {% assign gift_wraps_in_cart = item.quantity %}
  {% endif %}
{% endfor %}

<style>
  /*#updates_{{ id }} { display: none; } */
</style>

<script>

Shopify.Cart = Shopify.Cart || {};

Shopify.Cart.GiftWrap = {};

Shopify.Cart.GiftWrap.set = function() {
  jQuery.ajax({
    type: 'POST',
    url: '/cart/update.js', 
    data: { updates: { {{ id }}: 1 }, attributes: { 'pinklay-cotton-shopping-bag': true } }, 
    dataType: 'json',
    success: function() { location.href = '/cart'; }
  });
}

Shopify.Cart.GiftWrap.remove = function() {
  jQuery.ajax({
    type: 'POST',
    url: '/cart/update.js', 
    data: { updates: { {{ id }}: 0 }, attributes: { 'pinklay-cotton-shopping-bag': '' } }, 
    dataType: 'json',
    success: function() { location.href = '/cart'; }
  });
}

// If we have nothing but gift-wrap items in the cart.
{% if cart.items.size == 1 and gift_wraps_in_cart > 0 %}
jQuery(function() {
  Shopify.Cart.GiftWrap.remove();
});
// If we have more than one gift-wrap item in the cart.
{% elsif gift_wraps_in_cart > 1 %}
jQuery(function() {
  Shopify.Cart.GiftWrap.set();
});
// If we have a gift-wrap item in the cart but our gift-wrapping cart attribute has not been set.
{% elsif gift_wraps_in_cart > 0 and cart.attributes.pinklay-cotton-shopping-bag == blank  %}
jQuery(function() {
  Shopify.Cart.GiftWrap.set();
});
// If we have no gift-wrap item in the cart but our gift-wrapping cart attribute has been set.
{% elsif gift_wraps_in_cart == 0 and cart.attributes.pinklay-cotton-shopping-bag != blank  %}
jQuery(function() {
  Shopify.Cart.GiftWrap.set();
});
{% endif %}

// When the gift-wrapping checkbox is checked or unchecked.
jQuery(function() {
  jQuery('[name="attributes\[pinklay-cotton-shopping-bag\]"]').change(function() {
    if (jQuery(this).is(':checked')) {
      Shopify.Cart.GiftWrap.set();    
    }
    else {
      Shopify.Cart.GiftWrap.remove();
    }
  });
});
 
</script>

{% else %}

<p style="clear: left; margin: 30px 0" class="rte">
  You attempted to add a pinklay-cotton-shopping-bag script to your shopping cart, but it won't work because you don't have 
  a link list with handle <code>pinklay-cotton-shopping-bag</code> which, in turn, contains a link
  to your pinklay-cotton-shopping-bag product. Please review the steps outlined 
  <a href="http://docs.shopify.com/manual/configuration/store-customization/page-specific/cart-page/add-a-gift-wrap-option">here</a>.
</p>

{% endif %}