{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.shop_description' %}
  {% include 'custom_fields.products.product_details' %}
  {% include 'custom_fields.products.wash_care' %}
  {% include 'custom_fields.products.size_chat' %}
  {% include 'custom_fields.products.you_like_product' %}
  {% include 'custom_fields.products.return_text_for_tabs' %}
  {% include 'custom_fields.products.product_video' %}
  {% include 'custom_fields.products.photo_video_position' %}
</div>