<style>
  @media (max-width:768px)
  {
    div#email-modal{
     display:block !important;
    }
    
    .modal-window{
      display:block !important;
    }
  }
</style>

{% if settings.display_popup_newsletter %}
<script type="text/javascript">
  $(function() {       

    $('#upsell-modal .modal-overlay').on('click', function(){
      closeupsellModalWindow ();
    }),
    jQuery('#upsell-modal .btn.close').click(function(e) {
      e.preventDefault();
      if ($('input[name=dismiss]').is(':checked')) {
        closeupsellwrapperModalWindow();
      } else {
        closeupsellModalWindow();
      }
    });

    jQuery('body').keydown(function(e) {
      if( e.which == 27) {
        closeupsellModalWindow();
        jQuery('body').unbind('keydown');
      }
    });

    function closeupsellwrapperModalWindow () {
      jQuery('#upsell-modal .modal-window').fadeOut(600, function() {
        jQuery('#upsell-modal .modal-overlay').fadeOut(600, function() {
          jQuery('#upsell-modal').hide();
//           var exprietime = new Date();
//   			exprietime.setTime(exprietime.getTime() + (60 * 60 * 1000));
//           jQuery.cookie('emailSubcribeModal', 'closed', {expires: exprietime, path:'/'});
        });
      })
    }

    function closeupsellModalWindow () {
      jQuery('#upsell-modal .modal-window').fadeOut(600, function() {
        jQuery('#upsell-modal .modal-overlay').fadeOut(600, function() {
          jQuery('#upsell-modal').hide();
//            var exprietime = new Date();
//   			exprietime.setTime(exprietime.getTime() + (60 * 60 * 1000));
//           jQuery.cookie('emailSubcribeModal', 'closed', {expires: exprietime, path:'/'});
        });
      })
    }
    
//$('#desktopnewsletter input[name=subscribe]').click(function(){
    // closeEmailModalWindow();
     // });
  });
  
</script>
<style>
  #upsell-modal .content-popup{
    padding:30px;
    display:block;
  }
  .upsell-title {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    color: #5ac4be !important;
    text-align:center;
  }
  @media (max-width: 767px){
    .upsell-title{
      font-size: 16px;
    }
  }
  .upsellproductwrapper .modal-window {
    background: #fff;
    position: absolute;
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
    right: 0;
    max-width: 814px;
    min-height: 300px;
    margin: auto;
    top: 50vh;
    width: 90%;
}


</style>
{% assign upsell1 = settings.product1 %}
{% assign upsell1 = settings.product2 %}
<div class="upsellproductwrapper">
  <div id="upsell-modal" style="display: none;">
    <div class="modal-overlay"></div>
    <div class="modal-window" style="display: none;">
      <div class="window-window">
        <div class="window-content">
          <a href="javascript:void(0)" class="btn close" title="{{ 'cart.ajax_cart.close' | t }}">{% include 'icon-close' %}</a>
          <div class="content-popup">

              <h3 class="upsell-title">Celebrate Month of Giving With Pinklay</h3>
            <p>At Pinklay, we celebrate December as the month of giving (learn more here). This year, we have tied up with two NGOs – a portion of our sales from every order goes to their sustenance.</p>
            <div class="upsell-head">
              <div class="upsell-item" ddts={{upsell1.handle}}>
              </div>
               <div class="upsell-item">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
