<section class="five-block-image">
  <div class="container">
    <div class="row">

<div class="column-left col-sm-6  slick-initialized slick-slider col-sm-push-6">

        
        <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 100%; transform: translate3d(0px, 0px, 0px);" role="listbox">
          <figure class="img-itm slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 100%;" tabindex="-1" role="option" aria-describedby="slick-slide10">
          <a href="/collections/girls-2-10-years" title="Kidswear" tabindex="0">            
            
            <div class="p1">
            <img src="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Kids_Boy_Girl_Baby_Organic_Cotton_Clothing_Hand_Block_Print_1024x.jpg?v=1563539569" alt="Kids Girl Baby Organic Cotton Clothing Hand Block Print - Pinklay" class="zoom lazyautosizes lazyloaded" data-src="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Kids_Boy_Girl_Baby_Organic_Cotton_Clothing_Hand_Block_Print_1024x.jpg?v=1563539569" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Kids_Boy_Girl_Baby_Organic_Cotton_Clothing_Hand_Block_Print_1024x.jpg?v=1563539569" data-sizes="auto" sizes="570px">
            </div>
            
            <figcaption>              
              
<span>Kidswear</span>
            
            </figcaption>            
          </a>
        </figure></div></div>
        

        

        

      </div>
      
      <div class="column-right col-sm-6 col-sm-pull-6" >
        <div class="row">
          
          <figure class="img-itm col-6">
            <a href="/collections/sleepwear" title="Sleepwear">            
              
              <div class="p1">
              <img src="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Kids_Sleepwear_Nightwear_Clothing_Organic_Cotton_Hand_Block_Print_1024x.jpg?v=1563539569" alt="Kids Sleepwear Nightwear Clothing Organic Cotton Hand Block Print - Pinklay" class="zoom lazyautosizes lazyloaded" data-src="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Kids_Sleepwear_Nightwear_Clothing_Organic_Cotton_Hand_Block_Print_1024x.jpg?v=1563539569" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Kids_Sleepwear_Nightwear_Clothing_Organic_Cotton_Hand_Block_Print_1024x.jpg?v=1563539569" data-sizes="auto" sizes="270px">
              </div>
              
              <figcaption>              
                
<span>Sleepwear</span>
            
              </figcaption>            
            </a>
          </figure>
          

          
          <figure class="img-itm col-6">
            <a href="/collections/resortwear" title="Resort Wear">            
              
              <div class="p1">
              <img src="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Kids_Resort_Wear_Bath_Robe_Organic_Cotton_Hand_Block_Print_1024x.jpg?v=1563539569" alt="Kids Resort Wear Bath Robe Organic Cotton Hand Block Print - Pinklay" class="zoom lazyautosizes lazyloaded" data-src="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Kids_Resort_Wear_Bath_Robe_Organic_Cotton_Hand_Block_Print_1024x.jpg?v=1563539569" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Kids_Resort_Wear_Bath_Robe_Organic_Cotton_Hand_Block_Print_1024x.jpg?v=1563539569" data-sizes="auto" sizes="270px">
              </div>
              
              <figcaption>              
                
<span>Resort Wear</span>
            
              </figcaption>            
            </a>
          </figure>
          

          
          <figure class="img-itm col-6">
            <a href="/collections/boys-2-10-years" title="Boys">            
              
              <div class="p1">
              <img src="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Kids_Boys_Organic_Cotton_Clothing_Hand_Block_Print_1024x.jpg?v=1563539568" alt="Kids Boys Organic Cotton Clothing Hand Block Print - Pinklay" class="zoom lazyautosizes lazyloaded" data-src="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Kids_Boys_Organic_Cotton_Clothing_Hand_Block_Print_1024x.jpg?v=1563539568" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Kids_Boys_Organic_Cotton_Clothing_Hand_Block_Print_1024x.jpg?v=1563539568" data-sizes="auto" sizes="270px">
              </div>
              
              <figcaption>              
                
<span>Boys</span>
            
              </figcaption>            
            </a>
          </figure>
          

          
          <figure class="img-itm col-6">
            <a href="/collections/baby-6-24-months" title="Newborn">            
              
              <div class="p1">
              <img src="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Newborn_Baby_Clothing_Dress_Organc_Cotton_Hand_Block_Print_1024x.jpg?v=1563539568" alt="Newborn Baby Clothing Dress Organic Cotton Hand Block Print - Pinklay" class="zoom lazyautosizes lazyloaded" data-src="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Newborn_Baby_Clothing_Dress_Organc_Cotton_Hand_Block_Print_1024x.jpg?v=1563539568" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="//cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Newborn_Baby_Clothing_Dress_Organc_Cotton_Hand_Block_Print_1024x.jpg?v=1563539568" data-sizes="auto" sizes="270px">
              </div>
              
              <figcaption>              
                
<span>Newborn</span>
            
              </figcaption>            
            </a>
          </figure>
          
        </div>
      </div>
      
      
    </div>
    
  </div>
</section>


{% schema %}
  {
      "name": "kids Custom Block",
      "max_blocks": 4,
      "settings": [
        {
          "type" : "color",
          "id" : "color",
          "label" : "Text color",
          "default" : "#323232"
        },
        {
          "type" : "color",
          "id": "bg_color",
          "label" : "Background color",
          "default" : "#fff"
        },
        {
          "type" : "color",
          "id" : "border",
          "label" : "Border color",
          "default" : "#e6e6e6"
        },
        {
          "type": "range",
          "id": "space_on",
          "label": "Space on",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "space_below",
          "label": "Space below",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 25
        }
      ],
      "blocks" : [
        {
          "type" : "Text",
          "name" : "Text",
          "settings":[
            {
              "type": "text",
              "id" : "icon",
              "label" : "Icon",
              "info" : "[Find your Icon](https://fontawesome.com/v4.7.0/icons/)."
            },
            {
              "type" : "text",
              "id" : "text",
              "label" : "text",
              "default" : "Free Shipping on all orders *"
            },
            {
              "type" : "url",
              "id" : "link",
              "label" : "Link"
            }
          ]
        }
      ],
      "presets": [{
        "name": "kids Custom block",
        "category": "text"
      }]
  }
{% endschema %}
