<div class="full_width_container_mt">
  <div class="section_first_mt">
    <div class="Background_image_wrapper_mt">
      <div class="background_image" style="background-image:url('{{ section.settings.background_image | img_url : 'master' }}')">
      </div>
    </div>

  </div>
  <div class="container">
  <div class="section_second_mt">
    <div class="content_mt">
     {{ section.settings.title }}
    </div>
  </div>

  </div>
</div>



{% schema %}
  {
    "name": "Month of Giving",
    "settings": [
					{
        				"type": "image_picker",
        				"id": "background_image",
        				"label": "Banner Background Image"
      				},
					{
        				"type": "richtext",
        				"id": "title",
        				"label": "Title"
      				}
					
				]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% style %}
.full_width_container_mt {
    display: block;
    width: 100%;
    max-width: 100%;
}
.container.full_width_mt
{
	max-width : 100%;
	width : 100%;
	padding : 0;
}
.background_image
{
	display : block;
	max-width : 100%;
	width : 100%;
	max-height : 100%;
	height : 800px;
	min-height : 1px;
	background-size : cover;
	background-position : center center;
}
.section_second_mt
{
	display : block;
	width : 100%:
	max-width : 100%;
}
.content_mt {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 30px;
}
{% endstyle %}