<style>
  .container1 {
  position: relative;
/*   width: 50%; */
    padding: 2px;
}

.image1 {
  opacity: 1;
  display: block;
/*   width: 100%; */
  max-height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 0px;
}

.middle1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container1:hover{
  background:#000
}
.container1:hover .image1 {
  opacity: 0.3;
}

.container1:hover .middle1 {
  opacity: 1;
}

.text1 {
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
  @media (min-width:768px){
    .image1{
max-height:232px    
}
    
  }
</style>
<div class="">
			<div class="" style="display:flex;flex-wrap:wrap">

{% for block in section.blocks %}
   

<a href="{{ block.settings.link }}">
				
              
              <div class="container1" style="
    
">
  <img data-src="{{ block.settings.image | img_url:"master" }}" class="image1 lazyload" style="">
  <div class="middle1">
    <div class="text1">{{ block.settings.button_text }}</div>
  </div>
</div>
              
              
              </a>
				
          {% endfor %}

</div>


		</div>
  

{% schema %}
  {
    "name": "Testimonials",
    "settings": [],
"max_blocks": 500,
  "blocks": [
    {
	  "type": "image",
      "name": "Image slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "<i class='fa fa-plus' aria-hidden='true'></i>"
		     
        }
]

}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
