{{ content_for_index }}




<style type="text/css">
/*@font-face {
    font-family: "Corinthum ";
    src: url(https://cdn.shopify.com/s/files/1/0249/5099/7070/files/Corinthia.ttf?3202) format("truetype");
}*/
  
  .five-block-image .column-right .img-itm figcaption{
 font-family: "Corinthum ";
      font-size: 65px;  
        font-weight: 500;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.8);
}
  
  @media screen and (max-width : 768px ) {
    .five-block-image .column-right .img-itm figcaption{

      font-size: 47px !important;  
       
}
    .five-block-image .column-left .img-itm figcaption{
    font-size: 120px !important;
  }
  }
  
  .five-block-image .column-left .img-itm figcaption{
  font-family: "Corinthum ";
    font-size: 130px;
        font-weight: 500;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.8);
  }
  .five-block-image .img-itm a::before{
   left: unset;
   /*transition: unset;*/

    }
  
  .five-block-image .img-itm figcaption span:before {
    background: unset;
}
  input[aria-label="Search Site"] {
    margin-top: 5px;
}
   .infinite-scrolling-homepage a {      
    background: #5AC4BE;
}
  .home-instagram #instafeed a{
  padding:5px !important;
   
  }
  @media screen and ( min-width: 1100px) {
  .home-instagram #instafeed a{
  height:249px !important;
    
   
  }
  }
  @media (max-width: 768px){
.widget-title {
    margin-bottom: 10px !important;
}
    .home-instagram {
    padding: 22px 0 0px 0 !important;
}
    .lazy-images-contain img{
    	border-radius:0px !important;
    }
  }
  .widget-title{color: #5ac4be;
}
  .widget-title h3:before, .widget-title h3:after {
    background-color: #5ac4be;
}
</style>






<div class='social-widget-wrapper' data-widget-id='20007'></div>