<style>

  .page-header {
    border-bottom: none;margin-bottom: 20px;
  }
  .bulletsection ul {
       list-style: disc;
  }
  .bulletsection {
    padding: 0px 15px;
}
  .bulletsection ul li {
    font-size: 14px;
    line-height: 30px;
  }
  .innersection p {
    margin-bottom: 0.5rem;
    font-size: 14px; line-height: 30px;
}

</style>

  <div class="container" style="max-width: 1100px;">  
    <div style="margin-bottom: 10px;"><img src="https://cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Shipping_Update_COVID.jpg?v=1590018610"></div>
    <!-- <header class="page-header">
      <h1>
        {% include 'multilang' with  page.title %}
      </h1>
    </header> -->  
    <div class="rte">
       <div class="innersection">
         <div class="descsecabove">
           <p><b>COVID-19 UPDATE: WHAT TO EXPECT ON SHIPPING & DELIVERY TIMELINES</b></p>
         </div>
         <div class="bulletsection">	
        	 <ul>
    <li>We have resumed shipping to all pincodes except containment zones. International orders too are being dispatched at this time.</li>
<br>  
    <li>However, please note that delivery timelines continue to be stretched at the moment. Please allow 7-9 days for us to get your parcel delivered. The delay is due to the COVID restrictions.<br>- Both our operations team and our delivery partners are working on skeletal staff – in keeping with the COVID guidelines, our operations are limited to 30% capacity.<br>- In the absence of cargo flights, all parcels are moving through the road network. Needless to say, this is creating significant delays in the dispatch and the delivery of orders.</li>
<br>
    <li>Pre-paid orders are being prioritized followed by Cash on Delivery orders.</li>
<br>  
    <li>As soon as your order is shipped, you will receive an e-mail and SMS from us with tracking details of your order. You can also track your order on our website, by logging into My Account.</li>
<br>  
    <li>If you are placing a custom order or furniture, please know that our production unit is temporarily closed until the lockdown is lifted. Your order will remain on hold until then.</li>
<br>  
    <li>Our customer care team is available round-the-clock to help you. Simply e-mail us at care@pinklay.com, or call / WhatsApp us at +91-9987752369 for any assistance.</li>
   </ul>
         </div>  
         <div class="descsecbelow">
              <p>Your support and patience in these testing times have been a great source of encouragement to our entire team. We want to thank you for choosing to shop with us – it means a lot to all of us!<br><br>Stay safe, and in good health and spirits!</p>
         </div> 
      </div>  
    </div>
  </div>