<div class="container">
  <header class="page-header">
    <h1 class="text-center">
      {% include 'multilang' with  page.title %}
    </h1>
  </header>
<style>
   
    .static-page-story-block1 {
        font-size: 17px;
        line-height: 25px;
        color:#777777;
    }
    .static-page-story-block2 {
        font-size: 16px;
        line-height: 23px;
        color:#777777;
    }
    .static-page-story-block3 {
        font-size: 25px;
        line-height: 34px;
        color:#777777;
    }
    .static-page-story-block4 {
        font-size: 30px;
        line-height: 46px;
        color:#777777;
    }

    .static-page-story-block5 {
        font-size: 17px;
        line-height: 25px;
    }
    a:hover{
    color: #5ac4be;
    text-decoration: none;
    }
    a{
     color:black;
    }
    .row.ab {
        padding: 10px;
    }
    .col-sm-6 {
        padding: 10px;
    }
    .zoom{
    transition: transform .4s ease;
    }
    .zoom:hover{
    -ms-transform: scale(1.2); /* IE 9 */
      -webkit-transform: scale(1.2); /* Safari 3-8 */
      transform: scale(1.1);
    }
    .p1 {
        overflow: hidden !important;
    }
    
</style>
 
 
  <div class="rte">
  
<div class="container">
    <div class="row ab">
        
        <div class="col-sm-12">
            <div class="row ab">
                <div class="col-sm-6">
                    <div class="p1"><img src="https://cdn2.shopify.com/s/files/1/0249/5099/7070/files/pinklay-story-01-1.jpg?2235" class="zoom" /></div>
                </div>
                <div class="col-sm-6">
                    <div class="p1"><img src="https://cdn2.shopify.com/s/files/1/0249/5099/7070/files/pinklay-story-01a.jpg?2235" class="zoom" /></div>
                </div>
            </div>
            <div class="row ab">
                <div class="col-sm-6">
                    <p class="static-page-story-block1">
                        Colors are magical. Similar to music, there is a color for every mood and emotion. Each colour brings along a unique vibe and energy like the emerald green of palm denotes new beginnings, bright mustard of marigold
                        is therapy even to the most tired soul, indigo of dabu is reminiscent of all things classy, and pink…pink of roses, of lehariya, of Jaipur, of cherry blossoms, of marshmallows, of diamonds and most importantly pink
                        of versatility, symbolises all things beautiful.
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="p1"><img src="https://cdn2.shopify.com/s/files/1/0249/5099/7070/files/pinklay-story-02.jpg?2242" class="zoom" /></div>
                </div>
            </div>
            <div class="row ab">
                <div class="col-sm-6">
                    <div class="p1"><img src="https://cdn2.shopify.com/s/files/1/0249/5099/7070/files/pinklay-story-03.jpg?2242" class="zoom" /></div>
                </div>
                <div class="col-sm-6">
                    <p class="static-page-story-block2">
                        The optimism and happiness that colors bring to life must be shared, and Pinklay was created to do just that. We strive every day to build products that have the power to enrich lives, spaces and moments of everyone
                        involved in the value chain, from the wonderful customer to the precious artisan. What started off as my story in December 2015 in our modest yet tastefully done guest room in Mumbai has become a story of many
                        enormously talented people who work every day with much love to create wonderful pieces that will hopefully brighten up your homes.
                    </p>
                </div>
            </div>
            <div class="row ab">
                <div class="col-sm-6">
                    <p class="static-page-story-block3">
                        Our roots lie in the beautiful city of Jaipur, the fixation to colors must have something to do with that. Pink, definitely so. But, not just in a feminine way but as a symbol of pride, welcoming spirit, hospitality,
                        and respect.
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="p1"><img src="https://cdn2.shopify.com/s/files/1/0249/5099/7070/files/pinklay-story-04.jpg?2242" class="zoom" /></div>
                </div>
            </div>
            <div class="row ab">
                <div class="col-sm-6">
                    <div class="p1"><img src="https://cdn2.shopify.com/s/files/1/0249/5099/7070/files/pinklay-story-05.jpg?2242" class="zoom" /></div>
                </div>
                <div class="col-sm-6">
                    <p class="static-page-story-block4">Pinklay is made of Pink for its versatility and our ode to Jaipur, and clay for its extraordinary ability to mold into anything a mind can imagine!</p>
                </div>
            </div>
            <div class="row ab">
                <div class="col-sm-6">
                    <p class="static-page-story-block5">
                        We have just begun, and there is so much to explore, experiment and to fall in love with. We will only continue to get better at creating magic in your lives. And, we will do that with your help, love and support.
                        Keep us in consideration when you make a purchase or recommendation. Give us feedback to better. Keep us close. We’re easy to reach just an e-mail away –
                        <a href="mailto:care@pinklay.com" style="color: #5ac4be !important;">care@pinklay.com</a> or a phone call away <a href="tel:919987752369">+91-9987752369</a>.
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="p1"><img src="https://cdn2.shopify.com/s/files/1/0249/5099/7070/files/pinklay-story-06.jpg?2242" class="zoom" /></div>
                </div>
            </div>
            <div class="row ab">
                <div class="col-sm-6">
                    <div class="p1"><img src="https://cdn2.shopify.com/s/files/1/0249/5099/7070/files/Pinklay-Story-5.jpg?2242" class="zoom" /></div>
                </div>
                <div class="col-sm-6">
                    <div class="p1"><img src="https://cdn2.shopify.com/s/files/1/0249/5099/7070/files/pinklay-story-08.jpg?2242" class="zoom" /></div>
                </div>
            </div>
        </div>
        
    </div>
</div>

  </div>
 
</div><!-- -->

