<div class="container">
   <header class="page-header">
    <h1>
     
    </h1>
  </header>
 
  <style>
div#accordionEx i.fa {
       text-align: right;
    float: right;
    position: relative;
    top: -15px;
    color: #5ac4be;
    font-size: 30px;
}
    .headsection {
      text-align: center;    margin-bottom: 25px;
    }
    .headsection h4 {
     color: #777777;
    }
    .headsection h6 {
     color: #777777;
      padding: 10px 5px 0px;
    }
    div#accordionEx .card {
    margin-bottom: 15px;
}
   div#accordionEx h5.mb-0 span {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    line-height: 30px;
}
    div#accordionEx .card-body .descsection {
    margin-bottom: 15px;
}
    div#accordionEx .card-body .descsection p {
    margin-bottom: 0px;
}
    a.btn.applynow {
    text-decoration: none !important;
    max-width: 120px !important;
    padding: 8px 0px 7px!important;
    text-transform: none !important;
    font-size: 15px !important;
    width: 100%;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 600;
    padding: 8px 15px 7px;
    background: #5ac4be;
    color: #ffffff;
    border: 1px solid #5ac4be;
    fill: #ffffff;
    margin-top: 5px;
}
    .descsection p {
    font-size: 15px;
}

.descsection li {
    font-size: 15px;
    line-height: 26px;
}
     
</style> 
  	<div class="rte"> 
      <div class ="row headsection" >
      		<div class="col-12">
              	<h4> We're Hiring!</h4>  
            	<h6>At Pinklay, we are passionate about great design, quality, and talent that is not afraid to think differently.<br> If you fit the bill, we want you to come join us, and help build something great!</h6>
              	<h6>Explore our open positions below.</h6>
        	
        	</div>	
      </div>
    
  	</div> <!-- rte-->
  
    <div class="rte"> 
    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

      <div class="card">    
          <div class="card-header" role="tab" id="headingOne1">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
              aria-controls="collapseOne1">
              <h5 class="mb-0">
                <span><b>Graphic Designer</b> <br> Type: Part-Time/Full-Time </span><i class="fa fa-plus"></i>
              </h5>
            </a>
          </div>   
          <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
            data-parent="#accordionEx">
            <div class="card-body">
              <div class="descsection ">
                <!--<p><b>In a nutshell:</b></p>-->
                  <p>At Pinklay, design is integral to everything we do. And, storytelling is integral to every design we make. We are looking for someone who can convey beautiful tales through their art and illustrations. The ideal candidate will be responsible for conceptualizing creative designs for a wide array of media to fit the needs of the business. You will oversee the design's production to ensure the designs are completed in a timely manner. You will work closely with the marketing team for day-to-day functions.</p>
              </div> 
              <div class="descsection ">
                	<p><b>Responsibilities</b></p>
                  	<ol>
                      	<li> 1) Oversee design and production of all online and offline marketing material</li>
                      	<li> 2) Conceptualize and execute the creative design strategy behind digital media campaigns</li>
                      	<li> 3) Design and oversee packaging requirements of the business</li>
                      	<li> 4) Contribute to surface pattern design for our textiles</li>
                      	<li> 5) Develop our company brand to increase brand presence</li>                      	
                	</ol> 
              </div> 
              <div class="descsection ">
                <p><b>Qualifications</b></p>
                  <ol>
                      	<li> 1) Bachelor's degree or equivalent experience in Graphic Design/Arts</li>
                      	<li> 2) 2+ years' of creative design experience</li>
                      	<li> 3) Experience using design software such as InDesign, Photoshop, and Illustrator</li>
                      	<li> 4) Strong typography skills</li>
                      	<li> 5) Excellent english written and verbal communication skills</li>
                   </ol> 
              </div> 
              <div class="descsection ">
                <p>Note: When applying for this position, please submit your portfolio along with your application.</p>
              </div> 
              <div class="descsection ">
                <a class="btn applynow" href="/pages/career-application/graphic-designer-job-opportunity">Apply Now</a>
              </div> 
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo2">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
              aria-expanded="false" aria-controls="collapseTwo2">
              <h5 class="mb-0">
              	 <span><b>Customer Service Specialist</b> <br> Type: Full-Time | Location: Mumbai </span><i class="fa fa-plus"></i>
              </h5>
            </a>
          </div>
          <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
            data-parent="#accordionEx">
            <div class="card-body">
              <div class="descsection ">
                <!--<p><b>In a nutshell:</b></p>-->
                  <p>At Pinklay, we love our customers and go to great lengths to ensure they always find favorable support from us. Hence, the ideal candidate for this role must share a passion to help people. The candidate will be a part team of trained product experts who provide our customers with a delightful, frictionless experience.</p>
              </div> 
              <div class="descsection ">
                	<p><b>Responsibilities</b></p>
                  	<ol>
                      	<li> 1) Assist customers with their order updates</li>
                      	<li> 2) Resolve customer conflicts and handle escalation procedures</li>
                      	<li> 3) Help customers with product information</li>
                      	<li> 4) Help customers place orders on phone, website and whatsapp</li>                      
                	</ol> 
              </div> 
              <div class="descsection ">
                <p><b>Qualifications</b></p>
                  <ol>
                      	<li> 1) Bachelor's degree or equivalent experience</li>
                      	<li> 2) 2+ years' of customer service</li>
                      	<li> 3) Excellent written and verbal communication skills</li>
                      	<li> 4) Proficiency in Microsoft Office suite (Outlook, Excel, Word, PowerPoint, etc.)</li>
                        <li> 5) Softer Skills: Empathetic, polite, good listener, and motivated to help</li>
                   </ol> 
              </div> 
               
              <div class="descsection ">
                <a class="btn applynow" href="/pages/career-application/customer-service-specialist-job-opportunity">Apply Now</a>
              </div> 
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThree3">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
              aria-expanded="false" aria-controls="collapseThree3">
              <h5 class="mb-0">
              	 <span><b>Web Operations Executive</b> <br> Type: Full-Time | Location: Mumbai </span><i class="fa fa-plus"></i>
              </h5>
            </a>
          </div>
          <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
            data-parent="#accordionEx">
            <div class="card-body">
              <div class="descsection ">
                <!--<p><b>In a nutshell:</b></p>-->
                  <p>This role will be primarily responsible for overseeing and managing the e-commerce websites of the company. The candidate will work closely with the web development and marketing teams.</p>
              </div> 
              <div class="descsection ">
                	<p><b>Responsibilities</b></p>
                  	<ol>
                      	<li> 1) You will ensure our websites run glitch-free at all times</li>
                      	<li> 2) Inventory is updated regularly</li>
                      	<li> 3) Product uploads and updates are done on regular basis</li>
                      	<li> 4) New apps and developments are introduced from time to time to promote excellent user and shopping experience</li>                      	                     	
                	</ol> 
              </div> 
              <div class="descsection ">
                <p><b>Qualifications</b></p>
                  <ol>
                      	<li> 1) Bachelor's degree or equivalent experience</li>
                      	<li> 2) Working knowledge of Shopify platform</li>
                      	<li> 3) 2+ years' of web operations</li>
                      	<li> 4) Excellent english written and verbal communication skills</li>
                        <li> 5) Proficiency in Microsoft Office suite (Outlook, Excel, Word, PowerPoint, etc.)</li>
                      	<li> 6) HTML, Photoshop, Illustrator skills are a plus</li>
                   </ol> 
              </div>               
              <div class="descsection ">
                <a class="btn applynow" href="/pages/career-application/web-operations-executive-job-opportunity">Apply Now</a>
              </div> 
            </div>
          </div>
        </div>      
      
		<div class="card">    
          <div class="card-header" role="tab" id="headingFour4">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4" aria-expanded="true"
              aria-controls="collapseFour4">
              <h5 class="mb-0">
                <span><b>Creative Content Writer</b> <br> Type: Part-Time/Full-Time </span><i class="fa fa-plus"></i>
              </h5>
            </a>
          </div>   
          <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4"
            data-parent="#accordionEx">
            <div class="card-body">
              <div class="descsection ">
                <!--<p><b>In a nutshell:</b></p>-->
                  <p>At Pinklay, we tell stories, sometimes through our designs and other times through words. We are looking for a content writer who can turn even the simplest thoughts into beautiful tales. In this position, you will be a part of the marketing team.</p>
              </div> 
              <div class="descsection ">
                	<p><b>Responsibilities</b></p>
                  	<ol>
                      	<li> 1) Create content for blogs, articles, product descriptions, social media, and the company website</li>
                      	<li> 2) Conduct research in various topics to create original and insightful content</li>
                      	<li> 3) Proofread and check all marketing materials for errors and typos</li>
                      	<li> 4) Create compelling newsletters and ad copy</li>
                      	<li> 5) Ensure that the existing content is correct and interesting to read</li>
                	</ol> 
              </div> 
              <div class="descsection ">
                <p><b>Qualifications</b></p>
                  <ol>
                      	<li> 1) Bachelor's degree in communications, marketing, english, journalism, or related field</li>
                        <li> 2) Proven content writing or copywriting experience</li>
                      	<li> 3) Proficient in all Microsoft Office applications</li>
                      	<li> 4) A body of work including articles, blogs etc.</li>
                      	<li> 5) Excellent writing and editing skills</li>
                        <li> 6) The ability to work in a fast-paced environment and multi-task</li>
                      	<li> 7) Effective English communication skills</li>
                   </ol> 
              </div> 
               
              <div class="descsection ">
                <a class="btn applynow" href="/pages/career-application/creative-content-writer-job-opportunity">Apply Now</a>
              </div> 
            </div>
          </div>
        </div>      

<div class="card">
          <div class="card-header" role="tab" id="headingfive5">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapsefive5"
              aria-expanded="false" aria-controls="collapsefive5">
              <h5 class="mb-0">
              	 <span><b>E-Commerce Operations Executive</b> <br> Type: Full-Time | Location: Mumbai </span><i class="fa fa-plus"></i>
              </h5>
            </a>
          </div>
          <div id="collapsefive5" class="collapse" role="tabpanel" aria-labelledby="headingfive5"
            data-parent="#accordionEx">
            <div class="card-body">
              <div class="descsection ">
                <!--<p><b>In a nutshell:</b></p>-->
                  <p>This role involves stellar behind-the-scenes execution of our operations. You will be responsible for ensuring our customers have a seamless pre- and post-purchase experience.</p>
              </div> 
              <div class="descsection ">
                	<p><b>Responsibilities</b></p>
                  	<ol>
                      	<li> 1) Manage and execute day-to-day customer orders</li>
                      	<li> 2) Work with our shipping partners on order deliveries</li>
                      	<li> 3) Provide customers with timely order updates</li>
                        <li> 4) Tabulate and reconcile customer and order data</li>
                      	<li> 5) Ensure optimal inventory levels on our website</li>                      	                     	
                	</ol> 
              </div> 
              <div class="descsection ">
                <p><b>Qualifications</b></p>
                  <ol>
                      	<li> 1) Bachelor's degree or equivalent experience</li>
                      	<li> 2) 2+ years work experience preferred</li>
                      	<li> 3) Excellent english written and verbal communication skills</li>
                        <li> 4) Proficiency in Microsoft Office suite (Excel, Word, etc.)</li>
                      	<li> 5) Go-getter attitude and attention to detail</li>
                   </ol> 
              </div>               
              <div class="descsection ">
                <a class="btn applynow" href="/pages/career-application/ecommerce-executive-job-opportunity">Apply Now</a>
              </div> 
            </div>
          </div>
        </div>

<div class="card">
          <div class="card-header" role="tab" id="headingsix6">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapsesix6"
              aria-expanded="false" aria-controls="collapsesix6">
              <h5 class="mb-0">
              	 <span><b>Warehouse Manager</b> <br> Type: Full-Time | Location: Jaipur </span><i class="fa fa-plus"></i>
              </h5>
            </a>
          </div>
          <div id="collapsesix6" class="collapse" role="tabpanel" aria-labelledby="headingsix6"
            data-parent="#accordionEx">
            <div class="card-body">
              <div class="descsection ">
                <!--<p><b>In a nutshell:</b></p>-->
                  <p>You will be responsible for processing and dispatch of our orders and overall management of our warehouse operations. You will have a team of ground staff reporting into you.</p>
              </div> 
              <div class="descsection ">
                	<p><b>Responsibilities</b></p>
                  	<ol>
                      	<li> 1) Manage and execute day-to-day customer orders</li>
                      	<li> 2) Maintain stock levels and action purchase orders</li>
                      	<li> 3) Manage the inward and outward flow of goods</li>
                        <li> 4) Conduct quality checks of all inward items</li>
                      	<li> 5) Manage our ground staff for successful fulfillment</li>                      	                     	
                	</ol> 
              </div> 
              <div class="descsection ">
                <p><b>Qualifications</b></p>
                  <ol>
                      	<li> 1) Bachelor's degree or equivalent experience</li>
                      	<li> 2) 2+ years work warehouse experience preferred</li>
                      	<li> 3) Excellent english written and verbal communication skills</li>
                        <li> 4) Proficiency in Microsoft Office suite (Excel, Word, etc.)</li>
                      	<li> 5) Go-getter attitude and attention to detail</li>
                   </ol> 
              </div>               
              <div class="descsection ">
                <a class="btn applynow" href="/pages/career-application/warehouse-manager-job-opportunity">Apply Now</a>
              </div> 
            </div>
          </div>
        </div>
      
    </div>
  </div> <!-- rte -->
  <div class="rte"> 
      <div class ="row headsection" >
      		<div class="col-12">
              <h6>Don’t see a role you’re looking for? Write to us at <a href="mailto:careers@pinklay.com">careers@pinklay.com</a></h6>        	
        	</div>	
      </div>
    
  	</div>
  
  <script>
    $(document).ready(function(){
        // Add minus icon for collapse element which is open by default
        $(".collapse.show").each(function(){
        	$(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
        });
        
        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
        }).on('hide.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
        });
    });
</script>
</div>