<div class="container">
  <header class="page-header">
    <h1>
      
    </h1>
    <style>
      .row.section {
    padding: 10px;
}
   a.btn.enrollbtn {
    text-decoration: none !important;
    max-width: 200px !important;
    padding: 8px 0px 7px!important;
    text-transform: none !important;
    font-size: 15px !important;
    width: 100%;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 600;
    padding: 8px 15px 7px;
    background: #5ac4be;
    color: #ffffff;
    border: 1px solid #5ac4be;
    fill: #ffffff;
    margin-top: 5px;
   }
      
.pointssection ul li:before {
  content: '✓';    margin-right: 5px;font-weight: 700;
}
      .rte .row.section td p.tick:before {
         content: '✓';
      }
      .rte .row.section td p.dash:before {
        content: '-';
      }
      .rte .row.section table tr td {
    background: #e7e7e7;    
}
     .rte .row.section table tr:nth-of-type(2n+2) td {
    background: #ffffff;
}       
      .descsection {
    margin-bottom: 15px;
}
      .descsection p {
    margin-bottom: 0px;    font-size: 14px;
}
     .descsection ul {    
    list-style: square;
     list-style-position: outside;
    margin-left: 20px;font-size: 13px;
    margin-top: 10px;
}
     .rte .row.section table tr th {
    background: #5ac4be;
    color: #fff;
}
      .rte .row.section table tr, .rte .row.section table th, .rte .row.section table td {
    border: 2px solid #d8d8d8;    font-size: 13px;
    }
      .pointssection {
    padding: 20px 0px;
}

.pointssection ul li {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;line-height: 1.5rem;
}
 .enrollsection p {
   font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.5rem;     margin-bottom: 1rem;
 }    
    </style>    
  </header>
<div class="rte"> 
  	<div class ="row section" >
      		<div class="col-12">
              	
              <img src="https://cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Rewards_Banner.jpg?v=1584457475">
        	</div>	
      </div>
  </div>
  <div class="rte"> 
  	<div class ="row section" >
      		<div class="col-12 enrollsection">
              <p>Pinklay Rewards is an exclusive loyalty program that rewards you each time you shop with us. It’s our way of saying “Thank You” for bringing us into your homes, for supporting Indian handcrafts, and for the continued patronage and trust you place in us.</p>
			 <p>The program has two tiers – Khaas and Shikhar – on creating an account, you are enrolled on the Khaas tier that offers a host of perks. Customers that exceed Rs 75,000 in purchases in a year are eligible for the Shikhar tier that offers even greater rewards and benefits.</p>
              <div class="text-center">
                <a class="btn enrollbtn" href="/pages/rewards/?loyal">ENROLL NOW</a>
              </div>
        	</div>	
      </div>
  </div>
  <div class="rte"> 
  	<div class ="row section" >
      		<div class="col-sm-6">
              <div class="innersection">
                <div classs="imagesection">
                 <img src="https://cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay-Rewards-Earn-Points.jpg?v=1584470089">
                </div>
                <div class="pointssection ">
                  <ul>
                    <li>Earn up to 5 points for every Rs 100 spent</li>
                    <li>Earn 100 points when you refer friends</li>
                    <li>Earn 100 points on your birthday</li>
                    <li>Earn when you follow us on social media</li>                  
                  </ul>
                </div>
              </div>
        	</div>	
      <div class="col-sm-6">
              <div class="innersection">
                	<div classs="imagesection">
                      	<img src="https://cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay-Rewards-Redeem-Points.jpg?v=1584470089">
                	</div>
                 <div class="pointssection">
                  <ul>
                    <li>1 reward point redemption is equal to Rs 1</li>
                    <li>Pay partially or fully by points on orders</li>
                    <li>Get even more on the Shikhar tier</li>
                    <li>Dashboard for easy points tracking</li>                  
                  </ul>
                </div>
        	  </div>
        	</div>	
      </div>
  </div>
  <div class="rte"> 
  	<div class ="row section" >
      		<div class="col-12">
              <h4 class="text-left">Program Benefits</h4>
             <div class="grid">
              <table class="full">
                <thead>
                  <tr>
                    <th class="text-left">BENEFITS</th>
                    <th>KHAAS</th>
                    <th>SHIKHAR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left">Points earned on purchases</td>
                    <td>2 Points for every Rs 100</td>
                    <td>5 Points for every Rs 100</td>
                  </tr>
                  <tr>
                    <td class="text-left">Tier upgrade (purchases per annum)</td>
                    <td>N/A</td>
                    <td>Rs 75,000</td>
                  </tr>
                  <tr>
                    <td class="text-left">Access to curated events and experiences</td>
                    <td><p class="tick"></p></td>
                    <td><p class="tick"></p></td>
                  </tr>
                  <tr>
                    <td class="text-left">Exclusive preview of new launches</td>
                    <td><p class="tick"></p></td>
                    <td><p class="tick"></p></td>
                  </tr>
                  <tr>
                    <td class="text-left">Exclusive preview of sales</td>
                    <td><p class="tick"></p></td>
                    <td><p class="tick"></p></td>
                  </tr>
                  <tr>
                    <td class="text-left">Free shipping on all orders</td>
                    <td><p class="dash"></p></td>
                    <td><p class="tick"></p></td>
                  </tr>
                  <tr>
                    <td class="text-left">Complimentary Pinklay bag with each order</td>
                    <td><p class="dash"></p></td>
                    <td><p class="tick"></p></td>
                  </tr>
                  <tr>
                    <td class="text-left">Get flat 10% off on all orders above Rs 15,000</td>
                    <td><p class="dash"></p></td>
                    <td><p class="tick"></p></td>
                  </tr>
                  <tr>
                    <td class="text-left">Extended returns and exchanges</td>
                    <td><p class="dash"></p></td>
                    <td><p class="tick"></p></td>
                  </tr>
                  <tr>
                    <td class="text-left">Priority dispatch of all orders</td>
                    <td><p class="dash"></p></td>
                    <td><p class="tick"></p></td>
                  </tr>
                  <tr>
                    <td class="text-left">Priority customer support</td>
                    <td><p class="dash"></p></td>
                    <td><p class="tick"></p></td>
                  </tr>
                </tbody>
              </table>
              </div>
        	</div>	
      </div>
  </div>
  <div class="rte"> 
  	<div class ="row section" >
      		<div class="col-12">
              <h4 class="text-left">Program FAQs</h4>
			  <div class="descsection">
                <p><b>How can I become a member?</b></p>
                  <p>Creating an account enrolls you in our Khaas tier. All purchases made, when signed in, are eligible for point accumulation.</p>
              </div>
              <div class="descsection">
                <p><b>Is there a membership fee to the program?</b></p>
                  <p>No, there are no fees to join the program.</p>
              </div>
               <div class="descsection">
                <p><b>How can I check my points balance?</b></p>
                  <p>Your points balance is available to view on your <a href="/pages/rewards/?loyal">program dashboard</a> (you must be signed in to your account to view your points balance).</p>
              </div>
            <div class="descsection">
                <p><b>Do my points expire?</b></p>
                  <p>Yes, your points expire one year from the date of you earning them.</p>
              </div>
               <div class="descsection">
                <p><b>How do I earn points?</b></p>
                  <p>Earn points on all your purchases – Khaas members earn 2 points for every Rs 100 spent while Shikhar members earn 5 points for every Rs 100 spent. In addition, earn:</p>
                 <ul>
                   <li>100 points every time you refer a friend</li>
                   <li>100 points on your birthday each year</li>
                   <li>50 points when you follow us on social media</li>
                 </ul>	
              </div>
              <div class="descsection">
                <p><b>How do I redeem points?</b></p>
                  <p>Points can be redeemed on your program dashboard. Select one of our many rewards that can then be used at the time of completing your order.</p>
              </div>
              <div class="descsection">
                <p><b>Are there any products or conditions in which I can’t earn points?</b></p>
                  <p>You must be signed into your account at time of placing your order in order to earn points. You can earn points on all products except gift cards. Also, point accumulation and redemption is unavailable on certain times, such as during our annual sale, special promotions and events, etc.</p>
              </div>
              <div class="descsection">
                <p><b>Can I transfer my points to someone else?</b></p>
                  <p>No, points are exclusively for your use and cannot be transferred to anyone else.</p>
              </div>
              <div class="descsection">
                <p><b>I exchanged/returned a product. How will my points be adjusted?</b></p>
                  <p>When you return an item, points are deducted from your point balance. In the case of exchanges, the difference is added/subtracted to/from your point balance.</p>
              </div>
              <div class="descsection">
                <p><b>Can I earn/redeem points at your retail store?</b></p>
                  <p>Currently, this program is exclusive to our website and cannot be availed at our stores.</p>
              </div>
              <div class="descsection">
                <p><b>I still have questions. How can I reach you?</b></p>
                <p>You can e-mail us at <a href="mailto:care@pinklay.com">care@pinklay.com</a> or call us at +91-9987752369.</p>
              </div>
        	</div>	
      </div>
  </div>
</div>